#bh-sl-map-container a {
  cursor: pointer;
}

#bh-sl-map-container a:hover {
  text-decoration: none;
  color: #333;
}

.bh-sl-form-container {
  display: inline;
  float: left;
  width: 93%;
}

form#bh-sl-user-location {
  float: left;
  padding: 0 15px;
  width: 95%;
  background-color: #3cb371;
  padding: 4% 6%;
  box-shadow: 2px 3px 10px #333;
}

.form-input {
  display: inline;
  float: left;
  margin-right: 4%;
  width: 26%;
}

.bh-sl-form-container .form-input input,
.bh-sl-form-container .form-input  select {
  font-size: 17px;
  padding: 10px 12px;
  color: #3cb371;
  border: none;
}

select {
  width: 95%;
}

button {
  background-color: #fff;
  border: none;
  color: #3cb371;
  font-size: 20px;
  padding: 8px 25px;
  cursor: pointer;
  float: right;
}

.bh-sl-message {
  margin: 2%;
  color: tan;
  float: left;
  font-size: 35px;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.bh-sl-message.msgstores {
  background: rgba(0, 0, 0, 0) url("../img/marker.png") no-repeat scroll 36% center;
}

#bh-sl-map {
  width: 500px;
  height: 518px;
  float: left;
}

.bh-sl-directioninfo,
.bh-sl-detail {
  display: none;
}

.bh-sl-loc-list {
  float: left;
  width: 46%;
  height: 518px;
  overflow: auto;
}

.bh-sl-loc-list ul#list {
  margin: 0;
  padding: 0 3%;
}

#list>li {
  cursor: pointer;
  display: inline;
  float: left;
  padding: 10px 5px;
  width: 97%;
  text-transform: uppercase;
  border: 2px solid transparent;
}

#list>li.highlight,
#list>li:nth-child(2n).highlight {
  background-color: #f0f8ff;
}

.list-label {
  background: rgba(0, 0, 0, 0) url("../img/marker.png") no-repeat scroll 0 0;
  float: left;
  height: 45px;
  margin-top: 5px;
  width: 10%;
}

.list-details {
  float: left;
  width: 85%;
}

.loc-name {
  color: #3cb371;
  font-size: 20px;
  text-transform: uppercase;
}

.loc-phone,
.loc-addr {
  font-size: 11px;
}

#list>li:nth-child(even) {
  background-color: #dcdcdc;
}

#list>li:nth-child(even) .loc-addr {
  color: #333;
}

.loc-addr {
  color: tan;
}

#list>li:hover {
  border: 2px solid tan;
}

.bh-sl-detail,
.bh-sl-directioninfo {
  border: 2px solid #ccc;
  height: 518px;
  margin: 0 1%;
  overflow: auto;
  padding: 0 2%;
  width: 35%;
  float: left;
}

.back_to_list {
  margin-bottom: 5px;
}

.back_to_list>a,
a#direction-back {
  color: #333;
  text-transform: uppercase;
  font-size: 12px;
}

#content  .bh-sl-container .hours h2 {
  font-size: 12px;
  font-weight: bold;
  color: tan;
}

.hours {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

.containerCarries {
  display: inline;
  margin: 0 3px;
}

.carriesBox {
  float: left;
  width: 100%;
}

.containerCarries>img {
  border-radius: 8px;
  width: 95px;
}

.infoAddress.hours {
  float: left;
  margin: 4% 0;
}

.store-logo {
  float: left;
  margin-right: 2%;
  width: 35%;
}

.store-logo>img {
  width: 115px;
}

.bh-detail-address {
  float: left;
  width: 62%;
}

.loc-directions {
  background-color: tan;
  color: #fff;
  float: left;
  width: 100%;
}

.bh-get-directions {
  color: #fff;
  float: left;
  padding: 3% 3%;
  text-align: center;
  width: 100%;
}

.bh-sl-directioninfo ul.direction-path {
  padding: 0;
  text-transform: uppercase;
}

.bh-sl-directioninfo li {
  list-style: inside none;
  padding: 1% 0;
  text-transform: uppercase;
}

.ymaps-2-1-39-controls__toolbar_left,
.ymaps-2-1-39-controls__toolbar_right {
  display: none;
}
