{{#storedetail}}
	<div class="back_to_list"><a>Back to List</a></div>
	<div class="loc-name">{{title}}</div>
	<div class="infoAddress hours">
		<div class="store-logo"><img src="sites/all/modules/yandex_store_locator/assets/img/logo_generic.png" alt=""></div>
	<div class="bh-detail-address"><div>{{address}} {{#if city}}<br> {{city}} {{/if}}  <br>{{phone}}</div>
	</div></div>

	<span style="color: #2e3337;float: left; width: 50%; margin: 2% 0px;display:none;" class="no-direction"><b>No Directions are found</b></span>
	{{#if openinghours}}
	<div class="hours"><h2>HOURS</h2><p>{{openinghours}}</p><p></p><p></p></div>
	{{/if}}
	<div class="store-solutions hours"><h2 class="this_optician_carries">THIS STORE CARRIES</h2>
		<div class="carriesBox">
		{{#each carriesArray}}
			<div class="containerCarries"><img src="sites/all/modules/yandex_store_locator/assets/img/{{this}}.png"></div>
		{{/each}}
		</div>
	</div>
	{{#if web}}<div> <a href="{{web}}" target="_blank">Navigate to Store Website </a></div>{{/if}}
	{{#if email}}<div><a href="mailto:{{email}}">Mail to Store</a></div>{{/if}}
	<div class="loc-directions">
		<a data-markerid="{{markerid}}" class="bh-get-directions" id="loc-getdirection" data-lat="114.303741" data-long="30.542082">
			<div class="loc-dist">{{distance}} kilometers,&nbsp; <span class="blue">Get Directions</span></div>
		</a>
	</div>
{{/storedetail}}
