{{#location}}
<li data-markerid="{{markerid}}">
	<div class="list-label"></div>
	<div class="list-details">
		<div class="list-content">
			<div class="loc-name">{{title}}</div>
			<div class="loc-phone">{{phone}}</div>
			<div class="loc-addr">{{address}}{{city}}{{#if city}},{{/if}} {{state}} {{postal}}</div> 
		
		</div>
	</div>
</li>
{{/location}}